<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="author1" scope="singleton"
		class="com.study.spring.case01.Author">
		<property name="name">
			<value>John</value>
		</property>
		<property name="sex">
			<value>男</value>
		</property>
		<property name="age">
			<value>18</value>
		</property>
	</bean>

	<bean id="author2" scope="singleton"
		class="com.study.spring.case01.Author">
		<constructor-arg value="女" index="1"></constructor-arg>
		<constructor-arg value="A" index="0"></constructor-arg>
		<constructor-arg value="19" index="2"></constructor-arg>
	</bean>

	<bean id="author3" class="com.study.spring.case01.Author"
		p:name="Helen" p:sex="女" p:age="20" />

	<bean id="author4" class="com.study.spring.case01.Author"
		c:name="Vic" c:age="19" c:sex="女" />

</beans>
