<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="author1" scope="singleton"
		class="com.study.spring.case01.Author">
		<property name="name">
			<value>John</value>
		</property>
		<property name="sex">
			<value>男</value>
		</property>
		<property name="age">
			<value>18</value>
		</property>
	</bean>

	<bean id="author2" scope="singleton"
		class="com.study.spring.case01.Author">
		<constructor-arg value="女" index="1"></constructor-arg>
		<constructor-arg value="A" index="0"></constructor-arg>
		<constructor-arg value="19" index="2"></constructor-arg>
	</bean>

	<bean id="author3" class="com.study.spring.case01.Author"
		p:name="Helen" p:sex="女" p:age="20" />

	<bean id="author4" class="com.study.spring.case01.Author"
		c:name="Vic" c:sex="女" c:age="19"  />
	<bean id="book1" class="com.study.spring.case01.Book">
	<property name="name">
	<value>Spring</value>
	</property>
	<property name="price">
	<value>500</value>
	</property>
	<property name="author" ref="author1"/>
	</bean>
	
	<bean id="book2" class="com.study.spring.case01.Book">
	<constructor-arg value="Python"></constructor-arg>
	<constructor-arg value="300"></constructor-arg>
	<constructor-arg ref="author2"></constructor-arg>
	</bean>
	
	<bean id="book3" class="com.study.spring.case01.Book"
	p:name="Peko" p:price="500" p:author-ref="author3"
	></bean>
	
	<bean id="book4" class="com.study.spring.case01.Book"
	c:name="Miko" c:price="500" c:author-ref="author4"
	></bean>	

</beans>
